@media only screen and (max-width:1199px){.home-page-title span{font-size:24px;line-height:32px}}
@media only screen and (max-width:1199px){.home-page-introduction-hero-title{font-size:32px;line-height:50px}}
@media only screen and (max-width:1199px){.home-page-teaser-content{padding:16px;padding-top:24px}}
@media only screen and (max-width:1199px){.home-page-teaser-content span{left:16px}}
@media only screen and (max-width:1199px){.home-page-teasers-two-cols{margin-top:0}}
@media only screen and (max-width:1199px){.home-page-teasers-two-cols .home-page-teaser-content{margin:16px;margin-top:-32px}}
@media only screen and (max-width:1199px){.home-page-teasers-two-cols .home-page-teaser-title{font-size:24px;line-height:32px}.home-page-teasers-two-cols .home-page-teaser-subtitle{font-size:16px}}
@media only screen and (max-width:1199px){.home-page-teasers-hr{margin-top:80px}}
@media only screen and (max-width:1199px){.home-page-theme{margin-top:16px}}