/*!*************************************************************************************************************************************************************************************************!*\
  !*** css ./node_modules/css-loader/dist/cjs.js??ruleSet[1].rules[2].use[1]!./node_modules/sass-loader/dist/cjs.js??ruleSet[1].rules[2].use[2]!./ui/timeslots-button/scss/timeslots-button.scss ***!
  \*************************************************************************************************************************************************************************************************/
/* REWE Shop Color Palette */
/* Gray Range */
/* Main Colors */
/* !!!deprecated --- Special (old) Colors --- deprecated!!!*/
/* Sub Colors */
/* Red: */
/* Green: */
/* Blue: */
/* Yellow: */
/* Watermelon: */
/* Mocca: */
/* Orange: */
/* Curry: */
/* Olive: */
/* Lime: */
/* Spearmint: */
/* Avocado: */
/* Ice: */
/* Blueberry: */
/* Aubergine: */
/* Blackberry: */
/* REWE Shop Color Palette */
/* Gray Range */
/* Main Colors */
/* !!!deprecated --- Special (old) Colors --- deprecated!!!*/
/* Sub Colors */
/* Red: */
/* Green: */
/* Blue: */
/* Yellow: */
/* Watermelon: */
/* Mocca: */
/* Orange: */
/* Curry: */
/* Olive: */
/* Lime: */
/* Spearmint: */
/* Avocado: */
/* Ice: */
/* Blueberry: */
/* Aubergine: */
/* Blackberry: */
.tss-mobile-timeslot-button {
  min-height: 3.75rem;
  /* stylelint-disable-line length-zero-no-unit */
  padding: 0.875rem 0;
  box-sizing: border-box;
  display: flex;
  width: 100%;
  align-items: center;
  text-decoration: none;
  font-family: "UnitRoundedOT", "Helvetica Neue", "Helvetica, Arial", "sans-serif";
  font-weight: normal;
  color: #1c1c1c;
  background-color: #ffffff;
  border: none;
  cursor: pointer;
  border-bottom: 1px solid #cccccc; }
  .tss-mobile-timeslot-button .tss-icon {
    width: 2rem;
    height: 2rem;
    fill: #1c1c1c; }
  .tss-mobile-timeslot-button:hover, .tss-mobile-timeslot-button:active, .tss-mobile-timeslot-button:focus, .tss-mobile-timeslot-button.ths-menu__item-link--active {
    color: #cc071e; }
    .tss-mobile-timeslot-button:hover .tss-icon, .tss-mobile-timeslot-button:active .tss-icon, .tss-mobile-timeslot-button:focus .tss-icon, .tss-mobile-timeslot-button.ths-menu__item-link--active .tss-icon {
      fill: #cc071e; }

.tss-mobile-timeslot-button__icon {
  min-width: 3.75rem;
  text-align: center; }

.tss-mobile-timeslot-button--hover {
  display: none; }

.tss-mobile-timeslot-button__icon--hover {
  display: none; }

.tss-mobile-timeslot-button__text {
  font-size: 0.875rem;
  padding: 0.5rem 0.9375rem;
  display: inline-block;
  border-left: 1px solid #9b9b9b;
  text-align: left; }
  .tss-mobile-timeslot-button__text br {
    display: none; }

/* REWE Shop Color Palette */
/* Gray Range */
/* Main Colors */
/* !!!deprecated --- Special (old) Colors --- deprecated!!!*/
/* Sub Colors */
/* Red: */
/* Green: */
/* Blue: */
/* Yellow: */
/* Watermelon: */
/* Mocca: */
/* Orange: */
/* Curry: */
/* Olive: */
/* Lime: */
/* Spearmint: */
/* Avocado: */
/* Ice: */
/* Blueberry: */
/* Aubergine: */
/* Blackberry: */
.tss-shop-timeslot-button {
  min-width: 8.5625rem;
  height: 3rem;
  /* stylelint-disable-line length-zero-no-unit */
  padding: 0 0.5rem;
  border-radius: 0.125rem;
  font-size: 0.875rem;
  display: flex;
  align-items: center;
  justify-content: flex-start;
  box-sizing: border-box;
  color: #1c1c1c;
  background-color: #ffffff;
  border: thin solid #cccccc;
  text-decoration: none;
  font-family: "UnitRoundedOT", "Helvetica Neue", "Helvetica, Arial", "sans-serif";
  font-weight: normal;
  font-weight: 500;
  cursor: pointer;
  text-align: left; }
  .tss-shop-timeslot-button:hover, .tss-shop-timeslot-button:active, .tss-shop-timeslot-button:focus {
    border-color: #1c1c1c;
    box-shadow: inset 0 0 0 1px #1c1c1c;
    background-color: #f1f1f1; }
    .tss-shop-timeslot-button:hover .tss-shop-timeslot-button__icon--regular, .tss-shop-timeslot-button:active .tss-shop-timeslot-button__icon--regular, .tss-shop-timeslot-button:focus .tss-shop-timeslot-button__icon--regular {
      display: none; }
    .tss-shop-timeslot-button:hover .tss-shop-timeslot-button__icon--hover, .tss-shop-timeslot-button:active .tss-shop-timeslot-button__icon--hover, .tss-shop-timeslot-button:focus .tss-shop-timeslot-button__icon--hover {
      display: block; }

.tss-shop-timeslot-button__icon {
  width: 2rem;
  height: 2rem;
  margin-right: 0.5rem; }
  .tss-shop-timeslot-button__icon .tss-icon {
    fill: #1c1c1c; }

.tss-shop-timeslot-button__icon--hover {
  display: none; }

.tss-icon {
  width: 2rem;
  height: 2rem;
  fill: #1c1c1c; }


/*# sourceMappingURL=timeslots-button.css.map*/